p {
  text-indent: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left:1%;
  margin-right:1%;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom:0em;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.foot{
  display:inline-block;
  margin-right:9em;
}
