body {
  background-color: #BCD0D7;
  margin-right: 7.5%;
  margin-left: 7.5%;
}

nav {
  float:right;
  margin-right: 15em;
  margin-bottom: 5em;

}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: white;
}

li {
  list-style-type: none;
  text-align: top;
  margin-bottom: 1em;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  margin-bottom: 2em;
}

.picture {
  margin-right: .5em;
  width: 15em;
  height: 15em;
  border: 3px solid white ;
  border-radius: 5px;
  float: left;
}

.contain {
  height: 16em;
  width: 100%;
}

.logos{
  display:inline-block;
  margin-left: 1.5em;
  height: 16em;
  width:1em;
}
.logos li {
  padding-bottom: 5em;
}

.main-work {
  border-top: 1px solid grey;
  padding-top: 3em;
  height:10em;
  width: 100%;
  text-align: center;
}

footer {
  height: 3em;
  width: 100%;
  border: 1px solid grey;
}
